<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Unicorn</title>
  <link rel="shortcut icon" href="images/horn.ico" type="image/x-icon">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body >
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<div class="wrapper" id="app">
  <header>
    <h1>Unicorn</h1>
    <nav id="nav">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Политика</a></li>
        <li><a href="#">Cпорт</a></li>
        <li><a href="#">Авто</a></li>
        <li><a href="#">Экономика</a></li>
        <li><a href="#">Технологии</a></li>
        <li><a href="#">Общество</a></li>
        <li><a href="#">Наука</a></li>
        <li><a href="#">Медицина</a></li>
        <li><a href="#">Недвижимость</a></li>
        <li><a href="#">Культура</a></li>
      </ul>
      {{message}}
    </nav>
  </header>
  <section>
    <div class="row" >

      <div v-for="j in 10" :value="j">
        <div id="title-news"><h6>{{message[j-1].name}}</h6> <hr></div>

        <div v-for="i in 6" :value="i" class="col s4 m4">
          <div class="card">
            <div class="url-news">
              <a v-bind:href="message[j-1].items[i-1].link"> <img v-bind:src="message[j-1].items[i-1].icon">
              </a>
            </div>
            <div class="card-image">
              <img v-bind:src="message[j-1].items[i-1].image">
            </div>
            <div class="card-content">
              <p>{{message[j-1].items[i-1].title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


<script src="/public/javascripts/app.js"></script>
</body>

</html>
